<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bulma.min.css">
    <title>Main</title>
</head>

<body>
    <nav class="navbar is-dark " role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="../indxe.html">
                    Главная
                </a>
                <a class="navbar-item is-active" href="./first.html">
                    Первое
                </a>
                <a class="navbar-item" href="./second.html">
                    Второе
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="columns my-2 mx-2">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="../static/img/gorohoviy.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Гороховый суп</p>
                                <p class="subtitle is-6">
                                    Гороховый суп - это один из моих самых любимых супов! Однако, стоит оговориться, что
                                    этот суп является достаточно распространённым и в том или ином виде присутствует в
                                    кухнях многих стран. Вашему вниманию я представляю мой самый любимый рецепт
                                    приготовления горохового супа. По этому рецепту я готовлю его уже более 15 лет! Если
                                    вы воспользуетесь им для приготовления горохового супа, то у вас получится отличный
                                    результат, гарантирую!
                                </p>
                            </div>
                        </div>

                        <div class="content">
                            <a href="#" class="button is-info">Узнать больше</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="../static/img/harcho.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Суп харчо</p>
                                <p class="subtitle is-6">
                                    Суп харчо - вкусный, ароматный, острый. Традиционно харчо варят из говядины, но по
                                    этому рецепту готовится суп с курицей.
                                </p>
                            </div>
                        </div>

                        <div class="content">
                            <a href="#" class="button is-info">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="../static/img/shurpa.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Шурпа</p>
                                <p class="subtitle is-6">
                                    Как известно, обеденная трапеза должна начинаться из первого блюда. Я рекомендую
                                    приготовить шурпу из говядины. Суп по этому рецепту получается настолько сытным, что
                                    многие после того, как отведали его, отказываются переходить ко второму.
                                </p>
                            </div>
                        </div>

                        <div class="content">
                            <a href="#" class="button is-info">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="../static/img/lagman.webp" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Лагман</p>
                                <p class="subtitle is-6">
                                    Лагман готовится с домашней тянутой лапшой. Аппетитный лагман с говядиной и овощами
                                    получается очень вкусным, наваристым. А от аромата пряной зелени у вас непременно
                                    разыграется аппетит!
                                </p>
                            </div>
                        </div>

                        <div class="content">
                            <a href="#" class="button is-info">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./views/header.js"></script>
</body>

</html>