<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bulma.min.css">
    <title>Main</title>
</head>

<body>
    <nav class="navbar is-dark " role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="../indxe.html">
                    Главная
                </a>
                <a class="navbar-item" href="./first.html">
                    Первое
                </a>
                <a class="navbar-item is-active" href="./second.html">
                    Второе
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="columns my-2 mx-2">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="../static/img/makarony.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Макароны с мясом в томатном соусе</p>
                                <p class="subtitle is-6">
                                    Блюдо привлекательно тем, что макароны отдельно отваривать не нужно, они тушатся в
                                    соусе вместе с мясом. Таким образом макароны полностью пропитываются мясной
                                    подливкой.
                                </p>
                            </div>
                        </div>

                        <div class="content">
                            <a href="#" class="button is-info">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="../static/img/potato.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Тушёная картошка с мясом, грибами и сметаной</p>
                                <p class="subtitle is-6">
                                    Картофель, тушенный с мясом и грибами, - популярное блюдо домашней кухни, очень
                                    сытное и очень вкусное. Небольшой секрет: если в конце приготовления сдобрить всё
                                    сметаной, жаркое получится ещё вкуснее. Сметана превращается в бархатистый соус с
                                    лёгкой кислинкой и сливочным послевкусием и прекрасно объединяет все компоненты.
                                </p>
                            </div>
                        </div>

                        <div class="content">
                            <a href="#" class="button is-info">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="../static/img/leniyvie.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Ленивые голубцы</p>
                                <p class="subtitle is-6">
                                    Когда хочется голубцов, а времени на их приготовление нет, выручает ленивый вариант
                                    приготовления этого блюда.
                                </p>
                            </div>
                        </div>

                        <div class="content">
                            <a href="#" class="button is-info">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="../static/img/zapekanka.webp" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Запеканка мясная</p>
                                <p class="subtitle is-6">
                                    Очень простая в приготовлении, но очень вкусная запеканка из картофеля и мясного
                                    фарша, с помидорами и сыром.
                                </p>
                            </div>
                        </div>

                        <div class="content">
                            <a href="#" class="button is-info">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./views/header.js"></script>
</body>

</html>